<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stock Page</title>
    <link rel="stylesheet" type="text/css" href="/css/test-stockpage.css">
    <link rel="stylesheet" type="text/css" href="/css/test-stockpage-tab.css">
    <link rel="stylesheet" type="text/css" href="/css/test-stockpage-index.css">
    <link rel="stylesheet" type="text/css" href="/css/test-stockpage-bulk.css">
</head>

<body>

<h1>📈 Stock API Test Page</h1>
<div class="div-description">테스트 용도로만 사용 /test</div>

<div class="tab-bar">
    <div class="tab active" data-tab="stock">지연 시세</div>
    <div class="tab" data-tab="naver">실시간 시세</div>
    <div class="tab" data-tab="marketindex">시장 요약</div>
    <div class="tab" data-tab="bulk">전체 종목</div>
</div>

<div class="tab-content active" id="tab-stock">
    <div class="stock-form-div">
        <form id="stockForm">
            <label for="market">국가 선택</label>
            <select id="market" name="market">
                <option value="US">미국</option>
                <option value="KO">한국</option>
                <option value="INDX">지수종목</option>
            </select>

            <label for="ticker">종목코드</label>
            <div class="inline-input-button">
                <input type="text" id="ticker" name="ticker" placeholder="예: AAPL, 005930, KS11">
                <button type="submit">조회</button>
            </div>
        </form>

        <div id="result-box" class="hidden-section">
            찾는 중...
        </div>
    </div>
</div>

<div class="tab-content" id="tab-naver">
    <div class="stock-form-div">
        <form id="naverRealtimeForm">
            <label for="marketSelect">시장 선택</label>
            <select id="marketSelect">
                <option value="KR">한국  (KOSPI / KOSDAQ)</option>
                <option value="US_K">미국 .K (NYSE / AMEX) </option>
                <option value="US_O">미국 .O (NASDAQ)</option>
            </select>

            <label for="symbol">종목코드</label>
            <div class="inline-input-button">
                <input type="text" id="symbol" placeholder="예: AAPL, CPNG, 005930" />
                <button type="submit">조회</button>
            </div>
        </form>
        <div id="naverRealtimeResult" class="hidden-section">불러오는 중...</div>
    </div>
</div>



<div class="tab-content" id="tab-marketindex">
    <div class="stock-form-div">
        <div th:style="'color: gray;'">
        </div>
        <div id="div-exchange" class="div-market">
            <h2>💵 환율 요약</h2>
            <div id="exchange-show" class="show">
                <div id="exchange-primary"></div>
                <div class="div-description">실시간 시세, 10초마다 자동으로 갱신됩니다.</div>
                <div id="exchange-extra"></div>
            </div>
        </div>

        <div id="div-index" class="div-market">
            <h2>📉 주요 지수 요약</h2>
            <div id="index-show" class="show"></div>
        </div>

        <div id="div-stock-dom" class="div-market">
            <h2>🏛️ 국내 주식 </h2>
            <div id="dom-show" class="show">
                <h3>KOSPI TOP20</h3><hr>
                <div id="dom-value" class="show"></div>
                <h3>상승 TOP20</h3><hr>
                <div id="dom-up" class="show"></div>
                <h3>하락 TOP20</h3><hr>
                <div id="dom-down" class="show"></div>
                <h3>배당 TOP20</h3><hr>
                <div id="dom-dividend" class="show"></div>
                <h3>업종 78</h3><hr>
                <div id="dom-industry" class="show"></div>
            </div>
        </div>

        <div id="div-stock-ex" class="div-market">
            <h2>🏛️ 해외 주식 </h2>
            <div class="exchange-tabs">
                <button class="ex-tab active" data-ex="NASDAQ">NASDAQ</button>
                <button class="ex-tab"        data-ex="NYSE">NYSE</button>
                <button class="ex-tab"        data-ex="AMEX">AMEX</button>
            </div>
            <div id="ex-show" class="show">
                <h3>시가총액 TOP20</h3><hr>
                <div id="ex-value" class="show"></div>
                <h3>상승 TOP20</h3><hr>
                <div id="ex-up" class="show"></div>
                <h3>하락 TOP20</h3><hr>
                <div id="ex-down" class="show"></div>
                <h3>배당 TOP20</h3><hr>
                <div id="ex-dividend" class="show"></div>
            </div>
        </div>

        <div id="marketindexResult" class="hidden-section">불러오는 중...</div>
    </div>
</div>

<div class="tab-content" id="tab-bulk">
    <div class="bulk">
        <h2>📊 전체 종목 시세 조회</h2>
        <div style="margin-bottom:10px;">
            <label for="bulk-market">국가 선택:</label>
            <select id="bulk-market">
                <option value="KO">한국</option>
                <option value="US">미국</option>
            </select>
            <button id="bulk-fetch-btn">전체 조회</button>
        </div>
        <div id="bulk-result" class="result-card">데이터를 조회하려면 버튼을 누르세요.<br>주의 - 미국 주식은 조회하지 않는 것을 권장합니다</div>
    </div>
</div>



<script src="/js/test-stockpage.js"></script>
<script src="/js/test-stockpage-exchange.js"></script>
<script src="/js/test-stockpage-stock-sync.js"></script>
<script src="/js/test-stockpage-stock-dom.js"></script>
<script src="/js/test-stockpage-stock-ex.js"></script>
<script src="/js/test-stockpage-major.js"></script>

<script>
</script>

</body>
</html>
